.visited-country-item {
  width: 32%;
  margin-right: 8px;
  margin-bottom: 8px;
}

.country-flag-image {
  width: 100%;
}

.visited-country-name-and-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visited-country-name-and-btn-container button {
  background-color: transparent;
  border: 1px solid #f1f5f9;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  color: #f1f5f9;
}
